.footer-logo {
    width: 100px;
}

.header-banniere-img {
    width: 100%;
    height: 254px;
}

.header-banniere-text {
    font-size: 28pt;
}

.text-justify {
    text-align: justify;
}

.aui-item-signature {
    width: 350px;
}

.canvas-signature {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.img-signature {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}
