.footer-logo {
    width: 100px;
}

.header-banniere-img {
    width: 100%;
    height: 254px;
}

.header-banniere-text {
    font-size: 28pt;
}

.text-justify {
    text-align: justify;
}

.aui-item-signature {
    width: 350px;
}

.canvas-signature {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.img-signature {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}

table.aui > tbody > tr:hover {
	background: rgba(9,30,66,.08);
}

table.aui > tbody > tr > td.actions-column div.aui-buttons {
	display: none;
}

table.aui > tbody > tr:hover > td.actions-column div.aui-buttons {
	display: block;
}

.actions-column-size-1 {
	width: 35px;
}

.actions-column-size-2 {
	width: 85px;
}

.actions-column-size-3 {
	width: 150px;
}



